.button {
	border: none;
	color: white;
	padding: 5px 30px;
	font-size: 17px;
	background-color: #4CAF50;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
}
.button:hover {
    background-color: #32CD32; /* Green */
    color: white;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
